* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  font-size: 26px;
  color: rgb(26, 170, 50);
  float: left;
  font-weight: bold;
  font-family:  monospace, sans-serif;
}
body {
 font-family:  monospace, sans-serif;
}
button {
  font-family:  monospace, sans-serif;
 }
.hide {
  display: none;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.playground {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
  float: left;
}

.level {
  font-size: 22px;
  color: red;
  float: left;
  font-weight: bold;
  font-family:  monospace, sans-serif;
}
.over {
  font-size: 20px;
  color: red;
}

/* pagórki */

.hill1 {
  width: 1000px;
  height: 600px;
  top: 100px;
  left: -300px;
  border-radius: 50%;
  background-color: #009933;
  position: absolute;
  z-index: 10;
}

.hill2 {
  width: 1500px;
  height: 600px;
  top: 170px;
  left: -100px;
  border-radius: 50%;
  background-color: #33CC66;
  position: absolute;
  z-index: 20;
}

.hill3 {
  width: 2000px;
  height: 600px;
  top: 300px;
  left: -900px;
  border-radius: 50%;
  background-color: #66FF99;
  position: absolute;
  z-index: 30;
}

/* czoug */
.tank {
  width: 62px;
  height: 23px;
  background-color: #333300;
  position: absolute;
  top: 20px;
  animation: hover 3s ;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  
}
.tank:before {
  width: 13px;
  height: 36px;
  background-color: #666633;
  top: -3px;
  position: absolute;
  content: '';
}
.tank:after {
  width: 13px;
  height: 36px;
  background-color: #666633;
  top: -3px;
  left: 49px;
  position: absolute;
  content: '';
}
.tower {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #333300;
  top: -14px;
  left: 17px;
  content: "";
  position: absolute;
}
.tower:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 4px;
  left: 4px;
  content: "";
  position: absolute;
  animation: shot 4s infinite;
  animation-delay: 3.9s; 
}
/* medic box */
.med {
  width: 40px;
  height: 30px;
  background-color: white;
  position: absolute;
  content: "";
  border-radius: 3%;
  animation: hover 3s ;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.med:after {
  width: 6px;
  height: 20px;
  left: 17px;
  top: 5px;
  position: absolute;
  content: "";
  background-color: red;
}
.med:before {
  width: 20px;
  height: 6px;
  left: 10px;
  top: 12px;
  position: absolute;
  content: "";
  background-color: red;
}

/* animacje */
.shots {
animation: shot 1s;
}

@keyframes shot {
  0% { }
 
  10% { width: 30px;
        height: 30px;
        top: -2px;
        left: -2px;
      }
  20% { width: 20px;
        height: 20px;
        top: 4px;
        left: 4px;
      }
}


@keyframes hover {
  0% { }
  
  100% { transform: translate(0px,-20px); }
}
